
#eazy-pomodoro-tab-notification {
    position: fixed;
    z-index: 1000000;
    top: 10px;
    right: 10px;
    background-color: #0078d4;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #eazy-pomodoro-tab-notification-container {
    font-family: "Roboto", sans-serif !important;
    display: flex;
    align-items: center;
    padding: 8px;
  }
  #eazy-pomodoro-tab-notification-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 4px;
  }